body {
  font-family: 'Roboto', sans-serif;
  color: #2e2f42;
  font-size: 16px;
  background-color: #ffffff;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: currentColor;
}

span {
    color : #4D5AE5;
}

.logo {
  font-family: Raleway;
  font-weight: 700;
  font-style: Bold;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 3%;
}

