.nav-link {
  display: block;
  font-weight: 500; 
  line-height: 1.5; 
  letter-spacing: 0.02em; 
  color: #2e2f42; 
}


.contacts {
  font-style: normal; /* Обов'язково! Скасовує браузерний курсив для тегу address */
}

.contacts-link {
  display: block;
  color: #434455; 
  line-height: 1.5; 
  letter-spacing: 0.02em;
}

.nav-link:hover,
.nav-link:focus {
  color: #404bbf;
}

.contacts-link:hover,
.contacts-link:focus {
  color: #404bbf;
}